body {font:normal 9pt verdana; margin:0;padding:0;border:0px none;overflow:hidden;}
#header{
    border-bottom: 1px solid #083772;
    padding:5px 4px;
    color:#ffffff;
    background: rgb(133, 174, 236) url(/resources/ajaxhelper/dojo-ajax/src/widget/templates/images/soriaAccordionSelected.gif);
}
#footer{
    background: url(images/header-bar.gif) repeat-x bottom;
    border-top: 1px solid #083772;
    padding:2px 4px;
    color:white;
    font:normal 8pt arial,helvetica;
}
#folders, #files, #fileinfo {
    padding:10px;
}
#folders {
    padding-top :0;
    padding-left: 5px;
}
#files {
    padding-top :0;
}
#content p {
    margin:5px;
}
#folders li {
    padding:2px;
    padding-left:10px;
    background-image:url(images/bullet.gif);
    background-position: -3px 6px;
    background-repeat: no-repeat;
    font-size:8pt;
    display: block;
}
.ylayout-panel-north, .ylayout-panel-south, #content .ylayout-panel-center{
    border:0px none;
}
#content .ylayout-panel-south{
    border-top:1px solid #aca899;
}
#content .ylayout-panel-center{
    border-bottom:1px solid #aca899;
}
#fileheader {
    padding: 3px;
}
#fileheader td a {
    font-size: 10px;
    text-align: center;
}
.statusmsg {
    color: #cccccc;
    text-align: center;
    font-weight: bold;
}
.folderselected {
    background-color:blue;
    color:white;
}